.App{
  background-color: #222;
  min-height: 100vh;
}

.list_card{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  margin-top: 1rem;
}
.btn{
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0rem 0.5rem;
  cursor: pointer;
  box-shadow: 0 10px 20px 10px #00000033;
}
.pagination_action{
  
}

.list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.list_item{
  padding: 1rem;
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #292929;
  min-height: 150px;
  border-radius: 0.4rem;
  font-size: 1rem;
  transition: all .3s ease-in-out;
}

.list_item:hover {
		box-shadow: 0 10px 20px 10px #00000033;
	}
